<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id="com.blitzscorer"
        version="3.0.1">

    <name>Blitz Scorer</name>
    <description>
        Simple app to keep track of your own Dutch Blitz Score.
    </description>
    <author href="http://blitzscorer.com" email="hmurray@datalive.com.au">
        Humphrey Murray
    </author>

    <content src="index.html" />


    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="Orientation"                value="default" />

    <!--<preference name="ios-statusbarstyle"         value="black-opaque" />   &lt;!&ndash; ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar &ndash;&gt;-->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="false" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->

    <!-- Unknown Phonegap things -->
    <preference name="ShowTitle"                   value="false"/>
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="android-minSdkVersion"      value="14" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. Setting to 14 to hide the menu button -->


    <!-- Screen Orientation (iOS) -->
    <plugin name="cordova-plugin-screen-orientation" />


    <!-- Status Bar -->
    <plugin name="cordova-plugin-statusbar" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <!--<preference name="StatusBarBackgroundColor" value="#777777" />-->
    <preference name="StatusBarBackgroundColor" value="#32692d" />
    <!--<preference name="StatusBarStyle" value="lightcontent" />-->
    <!--<feature name="StatusBar">-->
        <!--<param name="ios-package" value="CDVStatusBar" onload="true" />-->
    <!--</feature>-->

    <!-- No Splashscreen -->
    <preference name="BackgroundColor" value="0xffffffff"/>                  <!--  Set the app's background color. Supports a four-byte hex value, with the first byte representing the alpha channel, and standard RGB values for the following three bytes.  -->

    <!-- Splashscreen -->
    <!--<preference name="BackgroundColor" value="0xff183317"/>                  &lt;!&ndash;  Set the app's background color. Supports a four-byte hex value, with the first byte representing the alpha channel, and standard RGB values for the following three bytes.  &ndash;&gt;-->
    <!--<preference name="SplashScreenBackgroundColor" value="#183317" />-->
    <!--<preference name="SplashScreenDelay"          value="10000"/>-->
    <!--<preference name="SplashScreen"               value="splash"/>-->
    <!--<preference name="AutoHideSplashScreen"       value="false" />-->
    <!--<preference name="ShowSplashScreen"           value="true" />-->
    <!--<preference name="SplashMaintainAspectRatio"  value="true" />-->
    <!--<preference name="ShowSplashScreenSpinner"    value="false" />-->
    <!--<preference name="FadeSplashScreen"           value="true" />-->
    <!--<preference name="FadeSplashScreenDuration"   value="0.5" />-->
    <!--<plugin name="org.apache.cordova.splashscreen" />-->

    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-dialogs" />

    <icon src="icon.png" />

    <!--<access origin="*" />-->
    <access />

    <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>

    <!--<allow-intent href="http://*/*" />-->
    <!--<allow-intent href="https://*/*" />-->
    <!--<allow-intent href="tel:*" />-->
    <!--<allow-intent href="sms:*" />-->
    <!--<allow-intent href="mailto:*" />-->
    <!--<allow-intent href="geo:*" />-->

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/res/icon/android/icon-36-ldpi.png"     density="ldpi" />
        <icon src="www/res/icon/android/icon-48-mdpi.png"     density="mdpi" />
        <icon src="www/res/icon/android/icon-72-hdpi.png"     density="hdpi" />
        <icon src="www/res/icon/android/icon-96-xhdpi.png"    density="xhdpi" />
        <icon src="www/res/icon/android/icon-144-xxhdpi.png"  density="xxhdpi" />
        <icon src="www/res/icon/android/icon-192-xxxhdpi.png" density="xxxhdpi" />

        <!--<splash src="www/res/screen/android/res-long-land-ldpi.png"       qualifier="land-ldpi" />-->
        <!--<splash src="www/res/screen/android/res-long-land-mdpi.png"       qualifier="land-mdpi" />-->
        <!--<splash src="www/res/screen/android/res-long-land-hdpi.png"       qualifier="land-hdpi" />-->
        <!--<splash src="www/res/screen/android/res-long-land-xhdpi.png"      qualifier="land-xhdpi" />-->
        <!--<splash src="www/res/screen/android/res-long-land-xxhdpi.png"     qualifier="land-xxhdpi" />-->
        <!--<splash src="www/res/screen/android/res-long-land-xxxhdpi.png"    qualifier="land-xxxhdpi" />-->

        <!--<splash src="www/res/screen/android/res-long-port-ldpi.png"       qualifier="port-ldpi" />-->
        <!--<splash src="www/res/screen/android/res-long-port-mdpi.png"       qualifier="port-mdpi" />-->
        <!--<splash src="www/res/screen/android/res-long-port-hdpi.png"       qualifier="port-hdpi" />-->
        <!--<splash src="www/res/screen/android/res-long-port-xhdpi.png"      qualifier="port-xhdpi" />-->
        <!--<splash src="www/res/screen/android/res-long-port-xxhdpi.png"     qualifier="port-xxhdpi" />-->
        <!--<splash src="www/res/screen/android/res-long-port-xxxhdpi.png"    qualifier="port-xxxhdpi" />-->
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!--<icon src="www/res/icon/ios/icon-404.png" />-->
        <icon src="www/res/icon/ios/icon-57.png"    width="57" height="57" />
        <icon src="www/res/icon/ios/icon-72.png"    width="72" height="72" />
        <icon src="www/res/icon/ios/icon-57-2x.png" width="114" height="114" />
        <icon src="www/res/icon/ios/icon-72-2x.png" width="144" height="144" />

        <!--<splash src="www/res/screen/ios/Default-iphone-portrait.png"          width="320" height="480" />-->
        <!--<splash src="www/res/screen/ios/Default-iphone-portrait-2x.png"       width="750" height="1334" />-->
        <!--<splash src="www/res/screen/ios/Default-iphone-portrait-568h-2x.png"  width="2208" height="1242" />-->
        <!--<splash src="www/res/screen/ios/Default-ipad-portrait.png"            width="1024" height="768" />-->
        <!--<splash src="www/res/screen/ios/Default-ipad-landscape.png"           width="1024" height="768" />-->

        <splash src="www/res/screen/ios/Default-Portrait.png" />
        <splash src="www/res/screen/ios/Default-568h@2x.png"                  width="640"  height="1136" />
        <splash src="www/res/screen/ios/Default-667h@2x.png"                  width="750"  height="1334" />
        <splash src="www/res/screen/ios/Default-Landscape-736h@3x.png"        width="2208" height="1242" />
        <splash src="www/res/screen/ios/Default-Landscape.png"                width="1024" height="768" />
        <splash src="www/res/screen/ios/Default-Landscape@2x.png"             width="2048" height="1536" />
        <splash src="www/res/screen/ios/Default-Portrait-736h@3x.png"         width="1242" height="2208" />
        <splash src="www/res/screen/ios/Default-Portrait.png"                 width="768"  height="1024" />
        <splash src="www/res/screen/ios/Default-Portrait@2x.png"              width="1536" height="2048" />
        <splash src="www/res/screen/ios/Default.png"                          width="320"  height="480" />
        <splash src="www/res/screen/ios/Default@2x.png"                       width="640"  height="960" />


    </platform>
    <platform name="firefoxos">
        <icon src="www/res/icon/firefoxos/icon16x16.png" width="16" height="16" />
        <icon src="www/res/icon/firefoxos/icon48x48.png" width="48" height="48" />
        <icon src="www/res/icon/firefoxos/icon60x60.png" width="60" height="60" />
        <icon src="www/res/icon/firefoxos/icon128x128.png" width="128" height="128" />
        <!--<icon src="www/res/icon/firefoxos/icon512x512.png" width="512" height="512" />-->
     </platform>
</widget>
