

#rounds tr.warning .score {
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
}
#rounds tr.warning td {
    /*line-height: 24px;*/
}
#rounds tr.warning td {
    /*font-weight: bold;*/
}
#rounds tr td.delete {
    position: relative;
    padding: 8px 2px;
}
#rounds tr {
    cursor: pointer;
}
td.score.selected {
    background: #d9edf7 !important;
    font-weight: bold;
}


/*th.player {*/
  /*/!* Something you can count on *!/*/
  /*height: 240px;*/
  /*white-space: nowrap;*/
/*}*/

/*th.player > div {*/
  /*transform:*/
    /*/!* Magic Numbers *!/*/
    /*translate(25px, -3px)*/
    /*/!* 45 is really 360 - 45 *!/*/
    /*rotate(315deg);*/
  /*width: 30px;*/
/*}*/
/*th.player > div > span {*/
  /*border-bottom: 1px solid #ccc;*/
  /*padding: 5px 10px;*/
/*}*/

#scoresheet thead th {
  /* Something you can count on */
  height: 80px;
  white-space: nowrap;
    padding: 10px 8px;
    border: none;
}

#scoresheet thead th > div {
  transform:
    /* Magic Numbers */
    translate(0px, 2px)
    /* 45 is really 360 - 45 */
    /*rotate(315deg);*/
    rotate(270deg);
  width: 8px;
}
#scoresheet thead th > div > span {
  /*border-bottom: 1px solid #ccc;*/
  /*padding: 5px 10px;*/
}